<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="aveda-haircare-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                aveda-haircare
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="aveda-styling" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                aveda-styling
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="aveda-skincare-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                aveda-skincare
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="aveda-lifestyle-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                aveda-lifestyle
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="aveda-for-men-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                aveda-for-men
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="aveda-gifts-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                aveda-gifts
            </a>
        </li>
    </ul>
</div>